*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    color: #3b3e4f;
}


a
{
    text-decoration: none;
    color: #3b3e4f;
}

ul
{
    list-style-type: none;
}

.container
{
    min-width: 390px;
    width: 100%;
    height: 100%;
}
.container .row
{
    width: 100%;
    padding: 0 30px;
}
.row .title
{
    text-align: center;
    color: #3b3e4f;
    margin-bottom: 40px;
}
.row .title h2
{
    font-size: 24px;
    line-height: 46px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 550;
    font-style: normal;
}
.title p
{
    font-size: 17px;    
}

.grid
{
    display: grid;
    gap: 30px;
}

.btn a
{
    display: inline-block;
    background-color: #222222;
    color: #ffffff;
    padding: 15px 25px;
}





/*header*/

.header
{
    width: 100%;
    height: 13vh;
    background-color: #ffffff;
}

.header .row
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-logo img
{
    width: 100%;
}

.header-bars
{
    font-size: 20px;
}

.header-nav
{
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    visibility: hidden;
    opacity: 0;
    transition: visibility .7s , opacity .7s;
}
.header-nav.hide-show
{
    visibility: visible;
    opacity: 1;
}

.header-nav ul
{
    height: 100%;
    display: grid;
    grid-row: auto;

}
.header-nav ul li a
{
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
}



/*slideshow*/
.slideShow
{
    width: 100%;
    height: 25vh;
    margin-bottom: 40px;
}

.slideShow img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*service*/
.service-content
{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    margin-bottom: 60px;
}

.service-img img
{
    width: 100%;
}

.service-title
{
    text-transform: uppercase;
    font-size: 19px;
    margin: 10px 0;
    color: #d9140e;
    font-weight: 500;
}



.advisory
{
    display: grid;
    gap: 10px;
}

.advisory-item
{
    display: flex;
    align-items: center;
}
.advisory-item .icon
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 100%;
    margin-right: 10px;
    color: #ed1b24;
    font-size: 20px;
}

.advisory-text
{
    text-transform: uppercase;
    color: #3b3e4f;
}




/*banner*/

.banner
{
    width: 100%;
    height: 40vh;
    background-image: url(../images/banner5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 0;
}

.banner-text
{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    padding: 40px 0;
}


.banner-btn
{
    text-align: center;
}
.banner-btn a
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a2a2a;
    color:#ffffff
}
.banner-btn i
{
    margin-right: 10px;
}



/*product*/
.product
{
    margin-bottom: 40px;
}

.product .container
{
    border-bottom: 2px solid #FF675B;
}
.product-content
{
    display: grid;
    gap: 30px;
}

.product-item
{
    padding: 0 25px;
    margin-bottom: 20px;
}

.product-img
{
    position: relative;
}

.product-img img
{
    display: block;
    width: 100%;
}


.product-link a
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    color:#ffffff;
    background-color: #3a5370;
}

.product-name
{
    margin-top: 20px;
}

.product-description
{
    margin:15px 0;
}


.product-btn
{
    text-align: center;
}
.product-btn a
{
    display: inline-block;
    padding: 15px 40px;
    background-color: #FF675B;
    color:#ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 40px;
}




/*partner*/

.partner
{
    margin-bottom: 80px;
}

.swiper-container
{
    position: relative;
}

.swiper-slide
{
    text-align: center;
}

.swiper-slide img
{
    filter: grayscale(100%);
    background-color: #d1d1d1;
    transition: filter .6s;
}

.swiper-slide img:hover
{
    filter: none;
}

.dot
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dot span
{
    margin-right: 5px;
}



/*mservice*/

.mservice-content
{
    display: grid;
    gap: 30px;
}

.mservice-item
{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
}
.mservice-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mservice-icon img
{
    width: 100%;
}
.mservice-text
{
    display: grid;
    gap: 15px;
}




@media screen and (min-width: 640px)
{
    .container
    {
        min-width: 640px;
    }

    .header-bars
    {
        font-size: 40px;
    }
    .header-nav
    {
        left: 60% !important;
    }

    .service-img
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service-img img
    {
        display: block;
        width: 50%;
    }
    .advisory
    {
        grid-template-columns: repeat(2,1fr);
    }

    .banner
    {
        height: 30vh;
    }

    .product-content
    {
        grid-template-columns: repeat(2,1fr);
    }
    .product-item
    {
        padding: 0;
    }

    .mservice-item
    {
        grid-template-columns: 20% 80%;
    }
}


@media screen and (min-width: 960px)
{
    .container
    {
        min-width: 960px;
    }

    .header-bars
    {
        display: none;
    }
    .header-nav
    {
        position:static;
        visibility: visible;
        opacity: 1;
        border: none;
        background-color: transparent;
        left: 0;
    }
    .header-nav ul
    {
        display: flex;
    }
    .header-nav a
    {
        padding: 10px !important;
        font-weight: 550;
        color: #4b4b4b;
    }
    .service-item,.advisory-item,.product-item
    {
        padding: 0 30px;
    }
    .mservice-content
    {
        grid-template-columns: repeat(2,1fr);
    }

}


@media screen and (min-width: 1140px)
{
    .container
    {
        min-width: 1140px;
        max-width: 1280px;
        margin: 0 auto;
    }
    .service-content,.advisory,.product-content
    {
        grid-template-columns: repeat(4,1fr);
    }
    .product-item
    {
        padding: 0;
    }

}
