<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>Thiết kế nội thất</title>
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href=""><img src="img/logo2.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="">Trang Chủ</a></li>
                <li><a href="">Thiết kế nội thất <i class="fas fa-angle-down"></i></a></li>
                <li><a href="">Thi công <i class="fas fa-angle-down"></i></a></li>
                <li><a href="">Xưởng gỗ</a></li>
                <li><a href="">Chính sách <i class="fas fa-angle-down"></i></a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </div>
        <div class="right-navrespon">
            <label for="opennav" class="btn_open_nav">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="opennav" hidden />
            <label for="opennav" class="overlayout"></label>
            <nav class="navrespon">
                <label for="opennav" class="exit_nav_res"><i class="fas fa-times"></i></label>
                <ul>
                    <li><a class="navi" href="">Trang Chủ</a></li>
                    <li><a class="navi" href="">Thiết kế nội thất <i class="fas fa-angle-down"></i></a></li>
                    <li><a class="navi" href="">Thi công <i class="fas fa-angle-down"></i></a></li>
                    <li><a class="navi" href="">Xưởng gỗ</a></li>
                    <li><a class="navi" href="">Chính sách <i class="fas fa-angle-down"></i></a></li>
                    <li><a class="navi" href="">Tin tức</a></li>
                    <li><a class="navi" href="">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="banner">
        <div class="slides">
            <div class="slider active">
                <div class="content" id="slider1">
                    <p>ĐỘI NGŨ THIẾT KẾ CHUYÊN NGHIỆP</p>
                    <h1>Cho bạn không gian sống Thông minh - Hiện đại- Sáng tạo</h1>
                </div>
            </div>
            <div class="slider">
                <div class="content" id="slider2">
                    <p>NGHĨ LỚN LÀM LỚN</p>
                    <h1>Nâng tầm đẳng cấp cho công trình của bạn</h1>
                </div>
            </div>
            <div class="slider">
                <div class="content" id="slider3">
                    <p>TỈ MỈ TRÊN TỪNG THIẾT KẾ</p>
                    <h1>Bạn sẽ hoàn toàn bị thuyết phục choáng ngợp</h1>
                </div>
            </div>
        </div>
        <div class="control left">
            < </div> <div class="control right"> >
        </div>
    </div>


    <div class="service">
        <div class="title-section">
            <p>Phương châm phát triển</p>
            <h1>Đam mê - Quyết liệt - Sáng tạo <br> Lắng nghe & Thấu hiểu</h1>
        </div>

        <div class="grid-3">
            <div class="service-item">
                <div class="service-icon">
                    <a href=""><i class="fas fa-star-half-alt"></i></a>
                </div>
                <div class="service-content">
                    <h2>Thiết kế thi công nội thất</h2>
                    <p>Đội ngũ thiết kế và thi công hùng mạnh với chuyên môn cao. Xưởng sản xuất gỗ, sắt thép quy mô lớn
                        với đầy đủ máy móc
                        công nghệ cao đáp ứng cho các công trình.</p>
                </div>
            </div>
            <div class="service-item">
                <div class="service-icon">
                    <a href=""><i class="far fa-building"></i></a>
                </div>
                <div class="service-content">
                    <h2>Thi công xây dựng</h2>
                    <p>Xây dựng hoàn thiện các công trình mới và cải tạo với đội ngũ giám sát, công nhân thi công lành
                        nghề và lâu năm, mang
                        đến sự an tâm cho mỗi công trình.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="service-icon">
                    <a href=""><i class="fas fa-magic"></i></i></a>
                </div>
                <div class="service-content">
                    <h2>Kiến trúc
                    </h2>
                    <p>Văn phòng với đội ngũ kiến trúc sư nhiều năm kinh nghiệm thi công rất nhiều hạng mục công trình:
                        khách sạn, biệt thự,
                        resort, nhà ở, chung cư, công trình công cộng.</p>
                </div>
            </div>
        </div>
        <div class="center-button">
            <a href="">Tìm hiểu thêm</a>
        </div>
    </div>



    <div class="project">
        <div class="title-section">
            <p>Dự án triển khai</p>
            <h1>Công trình hoàn thiện</h1>
            <span>
                Hình ảnh các dự án công trình gần nhất. Click vào chi tiết từng dự án để xem thông tin cụ thể.
            </span>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">
                    <img src="img/item1.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> Cầu đường 10</a>
                        <span>Office / Văn phòng</span>
                    </div>
                </div> -->
                <div class="swiper-slide">
                    <img src="img/item2.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> NALOD HOTEL</a>
                        <span>Hotel / Khách Sạn</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item3.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> NALOD HOTEL</a>
                        <span>Hotel / Khách Sạn</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item4.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> An Bình City</a>
                        <span>Apartment / Căn hộ</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item5.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> The Legacy</a>
                        <span>Apartment / Căn hộ</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item6.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href=""> Vinhomes Reverside</a>
                        <span>Biệt Thự / Villas</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item7.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href="">Gold Season</a>
                        <span>Apaertment / Căn hộ</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/item8.jpg" alt="">
                    <div class="hover-box">
                        <a href=""><i class="fas fa-arrows-alt"></i></a>
                        <a href="">FLC Stars</a>
                        <span>Apaertment / Căn hộ</span>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="center-button">
            <a href="">Xem thêm</a>

        </div>
    </div>


    <!-- <div class="advise">
        <div class="advise-title">
            <h1>NỘI THẤT KACO</h1>
            <p>CÔNG TY CỔ PHẦN XÂY DỰNG KACO <br>
                LÀ THÀNH VIÊN TRỰC THUỘC MINH THANH GROUP</p>
        </div>
        <div class="advise-img">
            <img src="img/video.png" alt="">
            <div class="video-link">
                <a href=""><i class="fas fa-play-circle"></i></a>
            </div>
        </div>
    </div> -->


    <div class="blog">
        <div class="title-section">
            <p>Tin tức cập nhật</p>
            <h1>Từ blog thông tin</h1>
            <span>Các thông tin cập nhật về công ty, các công trình nổi trội. <br>
                Các xu hướng thiết kế và các mẹo về nội thất kiến trúc, chia sẻ bổ ích về cuộc sống xung quanh.</span>
        </div>
        <div class="new-box">
            <div class="box">
                <div class="new-img">
                    <a href=""><img src="img/blog0.jpg" alt=""></a>
                </div>
                <div class="new-content">
                    <a href="">Thiết kế nội thất biệt thự song lập Phú Cát City chị Hương</a>
                    <p>Với năng lực và kinh nghiệm đã được khẳng định qua nhiều dự án thiết kế biệt thự liền kề, song
                        lập trong thời gian qua …
                        Nội Thất...</p>
                </div>
                <a href="">Xem thêm</a>
            </div>
            <div class="box">
                <div class="new-img">
                    <a href=""><img src="img/blog2.jpg" alt=""></a>
                </div>
                <div class="new-content">
                    <a href="">Thiết kế nhà hàng BBQ phong cách Tây Ban Nha kết hợp Art Décor 200m2</a>
                    <p>Trong bài viết này Nội Thất KACO tiếp tục giới thiệu tới bạn đọc hồ sơ thiết kế nhà hàng BBQ
                        phong cách Tây Ban Nha kết
                        hợp Art...</p>
                </div>
                <a href="">Xem thêm</a>
            </div>
            <div class="box">
                <div class="new-img">
                    <a href=""><img src="img/blog3.jpg" alt=""></a>
                </div>
                <div class="new-content">
                    <a href="">Thiết kế thi công khách sạn Narlod Đà Nẵng</a>
                    <p>Khoác trên mình phong cách hiện đại Luxury, không gian khách sạn Narlod Đà Nẵng không chỉ thể
                        hiện được nét riêng và sự
                        đẳng cấp mà còn gây...</p>
                </div>
                <a href="">Xem thêm</a>
            </div>
        </div>
    </div>

    <div class="partner">
        <a href=""><img src="img/partner1.png" alt=""></a>
        <a href=""><img src="img/partner2.png" alt=""></a>
        <a href=""><img src="img/partner3.jpeg" alt=""></a>
        <a href=""><img src="img/partner4.png" alt=""></a>
        <a href=""><img src="img/partner5.png" alt=""></a>
        <a href=""><img src="img/partner6.jpg" alt=""></a>
    </div>



    <footer>
        <div class="footer">
            <div class="footer-item">
                <div class="footer-title">
                    <h2>LIÊN HỆ</h2>
                </div>
                <div class="footer-content">
                    <span>CÔNG TY Cổ Phần Xây Dựng Và Thương Mại T & T</span>
                    <p><a><i class="fas fa-envelope"></i> nguyenthanhnd0812@gmail.com</a></p>
                    <p><a href="tel: 0981202328"><i class="fas fa-phone-alt"> </i> 098 120 2328</a></p>
                    <p>
                        <a href="https://goo.gl/maps/KUdyMZebNtFMi1dA9">
                            Văn phòng: Số 6 Ngõ 4 Mễ Trì Thượng - Đại Lộ Thăng Long - Nam Từ Liêm - Hà Nội
                        </a>
                    </p>
                    <p>Trụ Sở Chính : Thị Tứ Tân Thịnh - Yên Thắng - Ý Yên - Nam Định</p>
                    <p>🏙️ Cơ sở sản xuất: Thôn Tam Đa xã Thanh Văn huyện Thanh Oai Tp HN</p>
                </div>
            </div>

            <div class="footer-item">
                <div class="footer-title">
                    <h2>THIẾT KẾ NỘI THẤT</h2>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất văn phòng</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất shop</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất quán cafe</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất phòng khách</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất khách sạn</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất chung cư</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thiết kế nội thất biệt thự</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">
                    <h2>THI CÔNG NỘI THẤT</h2>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công văn phòng</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công shop</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công quán cafe</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công phòng khách</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công khách sạn</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công chung cư</a></li>
                        <li><a href=""><i class="fas fa-circle"></i>Thi công biệt thự</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">
                    <h2>Bản đồ dẫn đường</h2>
                </div>
                <br>
                <!-- 
                <div class="footer-content">
                    <ul>
                        <li><a href=""><i class="fas fa-caret-right"></i>FACEBOOK</a></li>
                        <li><a href=""><i class="fas fa-caret-right"></i>YOUTUBE</a></li>
                        <li><a href=""><img src="img/social-media.png" alt=""></a></li>
                    </ul>
                    <p>Một thành viên trực thuộc MinhThanh Group</p>
                </div> -->
                <div class="myminimap">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7449.455118393836!2d105.77758894988742!3d21.003555293946945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345340134a8e75%3A0x44389de3021fb5ae!2zQ0_Mgk5HIFRZIEPhu5UgUGjhuqduIFjDonkgROG7sW5nIFbDoCBUaMawxqFuZyBN4bqhaSBUICYgVA!5e0!3m2!1svi!2s!4v1597156857027!5m2!1svi!2s"
                        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <div class="fixed-info">
            <ul>
                <li class="btn-fixed-info">
                    <a href="tel: 0917605168">
                        <i class="fas fa-phone-alt"></i>
                    </a>
                </li>
                <li class="btn-fixed-info">
                    <a href="https://www.messenger.com/t/nmt.wearefriend" target="_blank">
                        <i class="fab fa-facebook-messenger"></i>
                    </a>
                </li>
                <li class="btn-fixed-info">
                    <a href="https://zalo.me/0981202328" target="_blank">
                        <img src="./img/zalo_sharelogo.png" alt="logo zalo">
                    </a>
                </li>
            </ul>
        </div>
    </footer>


    <!-- <button class="logo-contact">
        <img src="img/logo-contact.png" alt="">
    </button> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
    <!-- <script src="js/swiper-bundle.js"></script>
    <script src="js/swiper-bundle.min.js"></script> -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        $(window).ready(function () {
            mywidth = $(window).width();
            if (mywidth <= 740) {
                let swiper = new Swiper('.swiper-container', {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            } else if (mywidth > 740 && mywidth <= 1024) {
                let swiper = new Swiper('.swiper-container', {
                    slidesPerView: 3,
                    spaceBetween: 30,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            } else {
                let swiper = new Swiper('.swiper-container', {
                    slidesPerView: 4,
                    spaceBetween: 30,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            }
        });
    </script>
</body>

</html>