* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Hind, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
  color: #666666;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center-button {
  text-align: center;
  margin-top: 40px;
}

.center-button a {
  display: inline-block;
  padding: 10px 50px;
  background-color: #17a2b8;
  border-radius: 24px;
  color: #ffffff;
}

.center-button a i {
  margin-left: 20px;
}

.title-section {
  text-align: center;
  margin-bottom: 40px;
}

.title-section p {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #dd3333;
  font-weight: 200;
}

.title-section h1 {
  color: #333333;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 50px;
  margin: 0 0 15px;
}


.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/*header*/

.header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.5px solid #dfdfdf;
  transition: .6s;
  z-index: 999;
}




.header-logo img {
  max-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav ul>li a {
  padding: 10px 20px;
  color: #ffffff;
}

.header ul>li>a i {
  margin-left: 5px;
}

.fade-down {
  background-color: #ffffff;
  padding: 10px 0;
}

.fade-down ul>li a {
  color: #333333;
}







/*banner*/

.banner {
  width: 100%;
  max-height: 700px;
  height: 700px;
  position: relative;
}

.banner .slides,
.slider {
  width: 100%;
  height: 100%;
}

.slides {
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  animation: display 1s;
}

.active {
  display: flex !important;
}

@keyframes display {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.slider>.content {
  text-align: center;
  width: 50%;
}


.slider p {
  display: inline-block;
  background-color: rgba(255, 204, 0, 0.7);
  padding: 5px 40px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 40px;
}

.slider h1 {
  background-color: rgba(255, 204, 0, 0.7);
  padding: 40px 80px;
  line-height: 60px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 51px;
}


.slider:nth-child(1) {
  background-image: url(../img/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider:nth-child(2) {
  background-image: url(../img/slider2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider:nth-child(3) {
  background-image: url(../img/slider3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider1 {
  animation: fade-right 1s ease;
}

@keyframes fade-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

#slider2 {
  animation: fade-left 1s ease;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

#slider3 {
  animation: opacity 1s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}






.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #666666;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.left {
  left: 1%;
}

.right {
  right: 1%;
}

/*service*/
.service {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}

.service-item {
  display: flex;
}

.service-icon a {
  color: #dd3333;
  font-size: 25px;
  width: 70px !important;
  height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f7;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.5s;
  z-index: 1;
}

.service-icon a::after {
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  opacity: 0.3;
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}

.service-icon a:hover::after {
  background-color: #dd3333;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
}

.service-icon a:hover {
  background-color: #dd3333;
  color: #ffffff;
}

.service-content {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.service-content h2 {
  color: #333333;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0 0 14px;
  line-height: 30px;
}

.service-content p {
  font-size: 17px;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 10px;
  text-align: justify;
}

/*project*/

.swiper-container {
  width: 1280px;
  margin: 0 auto 60px;
}

.swiper-slide {
  max-height: 180px;
  position: relative;
}

.swiper-slide img {
  width: 100%;
}

.hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  opacity: 0;
  transition: 0.6s;
}

.hover-box a {
  color: #ffffff;
  margin-top: 5px;
}

.hover-box span {
  color: #ddeedd;
}

.swiper-slide:hover .hover-box {
  transform: scale(1);
  opacity: 1;
}

/*advise*/
/* .advise {
  margin-top: 100px;
  background-image: url(../img/advise.jpg);
}

.advise-title {
  text-align: center;
  padding-top: 25px;
}

.advise-title h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.advise-title p {
  font-size: 18px;
  color: #999999;
}

.advise-img {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}

.advise-img img {
  width: 100%;
  height: 100%;
  transform: translateY(70px);
  border-radius: 10px;
}

.video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 50px;
}

.video-link a {
  color: #ffffff;
} */

/*blog*/

.blog {
  padding-top: 100px;
  padding-bottom: 60px;
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 1px solid #ebebeb;
}

.blog span {
  color: #999999;
}

.new-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.new-box img {
  width: 100%;
  height: 290px;
  border-radius: 5px;
}

.box>a {
  color: #dd3333;
}

.new-content a {
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 1;
  /* -webkit-box-orient: vertical; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.new-content p {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 300;
}

/*partner*/

.partner {
  padding-top: 60px;
  padding-bottom: 20px;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.partner img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}

/*footer*/

footer {
  width: 100%;
  background-color: #f8f8f9;
  color: #666666;
  padding-top: 70px;
}

.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



.footer-item {
  padding: 0 15px;
}

.footer-title {
  margin-bottom: 15px;
  color: #333333;
}

.footer-title h2 {
  font-size: 18px;
}

.footer-title {
  position: relative;
}


.footer-title::before {
  content: "";
  width: 100%;
  height: 3px;
  background: transparent url(../img/line.png) center;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
}

.footer-title::after {
  content: "";
  width: 10%;
  border-top: 3px solid #dd3333;
  height: 3px;
  position: absolute;
  top: 40px;
  background: #fff;
  left: 0px;
  z-index: 999;
}

.footer-content {
  padding-top: 20px;
}

.footer-content p,
.new-content span {
  margin-bottom: 10px;

}

.footer-content p {
  color: #999999;
}


.footer-content ul li a {
  display: inline-block;
  padding: 5px;
  color: #666666;
}

.footer-content ul li a i {
  margin-right: 7px;
  font-size: 5px;
}

.footer-content img {
  width: 100%;
}

.fa-caret-right {
  font-size: 15px !important;
}

.footer a {
  color: #17a2b8;
  font-size: 15px;
  font-style: italic;
}

/*logo-contact*/
.logo-contact {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 100;
}

.logo-contact img {
  width: 100%;
}


/* nav responsive */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.right-navrespon {
  position: fixed;
  z-index: 2020;
}

.overlayout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  animation: fadeIn linear 0.3s;
}

.btn_open_nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 8px 10px;
  right: 6px;
  top: 6px;
  cursor: pointer;
  display: none;
  align-items: center;
}

.btn_open_nav i {
  margin: 0px;
  color: #ffffff;
  font-size: 42px;
}

.navrespon {
  position: fixed;
  z-index: 2060;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  max-width: 100%;
  background-color: #222222;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.3s;
  padding-top: 10px;
  padding-left: 1em;
}

.navi {
  color: #fff !important;
  display: block;
  padding: 20px 10px;
  font-size: 1.0rem;
  height: 30px;
}

.exit_nav_res {
  position: absolute;
  left: 4px;
  top: 4px;
}

.exit_nav_res i {
  color: #ffffff;
  font-size: 20px;
}

#opennav:checked~.overlayout {
  display: block;
}

#opennav:checked~.navrespon {
  transform: translateX(0);
  opacity: 1;
}

.fixed-info {
  position: fixed;
  width: 50px;
  z-index: 1020;
  left: 8px;
  bottom: 24px;
  display: block;
}

.btn-fixed-info {
  width: 46px;
  height: 46px;
  padding: 12px;
  border-radius: 50%;
  margin: 8px;
  align-items: center;
  background-color: #17a2b8;
  cursor: pointer;
}

.btn-fixed-info i {
  font-size: 32px;
  color: white;
}

.btn-fixed-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* responsive */
@media only screen and (max-width: 63.9375em) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn_open_nav {
    display: flex;
  }

  .header-nav {
    display: none;
  }

  .fixed-info {
    left: 8px;
  }

  .fixed-info{
    left: 8px;
  }
  .btn-fixed-info{
      width: 42px;
      height: 42px;
      padding: 10px;
  }
  .btn-fixed-info i{
      font-size: 22px;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }

  .banner {
    max-height: 450px;
  }

  .service {
    padding: 24px 0;
  }

  .slider>.content {
    text-align: center;
    width: 80%;
  }

  .slider p {
    padding: 5px 20px;
    margin-bottom: 20px;
  }

  .slider h1 {
    padding: 10px 20px;
    line-height: 40px;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 23px;
  }

  .control {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .swiper-container {
    max-width: 360px;
    margin: 0;
  }

  .new-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .partner {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  .footer-content p {
    color: #ffffff;
  }


  .footer-content ul li a {
    color: #ffffff;
  }

  .footer-title {
    color: #ffffff
      /*  */
    ;
  }

  .myminimap {
    width: 330px;
    overflow: hidden;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .btn_open_nav {
    right: 12px;
    top: 12px;
  }

  .banner {
    max-height: 650px;
  }

  .service {
    padding: 24px 0;
  }

  .slider>.content {
    text-align: center;
    width: 80%;
  }

  .slider p {
    padding: 5px 20px;
    margin-bottom: 20px;
  }

  .slider h1 {
    padding: 10px 20px;
    line-height: 40px;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 23px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .swiper-container {
    max-width: 740px;
    margin: 0;
  }

  .footer {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  .footer-content p {
    color: #ffffff;
  }


  .footer-content ul li a {
    color: #ffffff;
  }

  .footer-title {
    color: #ffffff
      /*  */
    ;
  }

  .new-box img {
    height: 229px;
  }

}